/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
	display: inline-block;
	margin: 5px;
}

/* flip the pane when clicked */
.flip-container.flipped .flipper {
	-ms-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.flip-container.flipped .flipper .back {
	z-index: 3;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
	-ms-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}


.info {
	display: inline-block;
	margin-right: 100px;
}

#newGame {
	margin-right: 35px;	
}